fastapi
uvicorn
python-dotenv
numpy
python-multipart
requests
pydantic
faiss-cpu
python-multipart
aiofiles
sentence-transformers
transformers
accelerate
bitsandbytes
torch
langgraph
langchain-core
requests